---
import Markdown from '@astropub/md/Markdown';
import schema from '../assets/schema.json';
import AnchorHeading from '@astrojs/starlight/components/AnchorHeading.astro';
import { Aside } from '@astrojs/starlight/components';
import ConfigBlock from "@components/ConfigBlock.astro";
import PropertyDisplay from "@components/PropertyDisplay.astro";
import { baseOverrides, commonModuleProperties } from '../schema.ts';
import { processMarkdown } from "../markdown.ts";
import { getModuleProperties, merge } from '../utils.ts';
import type { Definition, Type } from "../schema.ts";
import type { HeaderDepth } from "../utils.ts";

import { Card, CardGrid } from '@astrojs/starlight/components';
import { getCollection } from 'astro:content';

const docs = await getCollection('docs');
console.dir(docs, { depth: 999});

interface Props {
  depth: HeaderDepth;
  typeName: Type;
  overrides?: Partial<Definition>;
}

const { depth, typeName, overrides } = Astro.props as Props;

let structDef = (schema.$defs[typeName] ?? {properties: []}) as Definition;

// grab properties here as merge messes up the order
const properties = getModuleProperties(structDef);

structDef = merge(structDef, baseOverrides);
if(overrides) structDef = merge(structDef, overrides);

const descriptionMd = processMarkdown(structDef.description, depth);

---

<div>
  <Markdown of={descriptionMd.markdown} />

  {descriptionMd.example && (
      <>
        <AnchorHeading level={depth} id="example">Example</AnchorHeading>
        <ConfigBlock corn={descriptionMd.example} />
      </>
  )}

  <AnchorHeading level={depth} id={"configuration"}>Configuration</AnchorHeading>

  {properties.map((propName) => (
    <PropertyDisplay depth={depth + 1 as HeaderDepth} name={propName} property={structDef.properties[propName]} required={structDef.required?.includes(propName)} />
  ))}

  <AnchorHeading level={depth} id={"styling"}>Styling</AnchorHeading>
  <Markdown of={descriptionMd.styling} />

  <p>For more information on styling, please see the <a href="#">styling guide</a>.</p>

  {structDef.type === undefined && <Aside type="danger" title="Error">Type information not found. Check the type name is correct.</Aside>}
</div>